p{
	color:purple;
	font-family: constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	font-size: 16px;
	line-height: 18px;
	width: 600px;
	background-color: antiquewhite;
	padding: 20px;
}
h1, h2 {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	color:cadetblue;
}

span {color: #FF0000;}
body {
	background-image: url("Slike/2.jpg")
}

a:link {
	color: black;
	background-color: white;
	padding: 5px;
	line-height: 40px;
	border:1px solid #000000;
}
a:hover {
	background-color: darkgrey;
}
img {
    height: 200px;
}